@model Agendamento.Dominio.Usuario

@{
    ViewBag.Title = "Layout";
}

<h2>Layout</h2>
<div id="menucontainer">
                <ul id="menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Cliente", "Validacao", "Home")</li>

                </ul>
</div>